h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
p {
  font-family: "Courier New", Courier, monospace;
}
a {
  display: block;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  line-height: 30px;
}
body {
  background-color: bisque;
}
img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.contact {
  text-align: center;
}
.email-contact {
  color: brown;
}
